<!doctype html>
<html lang="pt-BR">
<head>
    <base href="http://localhost/lista-usuarios/">
    <link rel="shortcut icon" href="public_html/images/favicon.png" type="image/x-icon">
    <link href="public_html/css/plugins/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="public_html/css/plugins/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="public_html/css/plugins/ionicons.min.css" rel="stylesheet" type="text/css">
    <link href="public_html/css/theme/adminlte.min.css" rel="stylesheet" type="text/css">
    <link href="public_html/css/theme/skin-blue-light.min.css" rel="stylesheet" type="text/css">

    {% block css %}
    {% endblock %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Sistema de Usuários - {% block title %}Home{% endblock %}</title>
</head>

{% block body %}
{% endblock %}

<script src="public_html/js/plugins/jquery.min.js"></script>
<script src="public_html/js/plugins/bootstrap.min.js"></script>
<script src="public_html/js/plugins/jquery.slimscroll.min.js"></script>
<script src="public_html/js/adminlte.min.js"></script>
{% block scripts %}
{% endblock %}
</html>
