{% extends "base/template.twig" %}

{% block title %}Lista Usuários{% endblock %}

{% block content%}

    <div class="wrapper">

        <div class="content-wrapper">

            <section class="content-header">
                <h1>
                    Usuários
                    <small>Lista de Usuários</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">Usuários</a></li>
                    <li class="active">Lista</li>
                </ol>
            </section>

            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">

                            <div class="box-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Cargo</th>
                                        <th>E-mail</th>
                                        <th>Data Criação</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for u in usuarios %}
                                    <tr>
                                        <td>{{ u.getNome }}</td>
                                        <td>{{ u.getCargo }}</td>
                                        <td>{{ u.getEmail }}</td>
                                        <td>{{ u.getDataCriacao|date("d/m/Y H:i:s") }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>

                                </table>
                            </div>

                        </div>

                    </div>

                </div>

            </section>

        </div>

{% endblock %}