{% extends "base/base.twig" %}

{% block title %}Novo Usuário{% endblock %}

{% block body %}
    <body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>Emiolo</b> Sistema de Usuários
        </div>

        <div class="login-box-body">

            <p class="login-box-msg">Cadastro de Novo Usuário</p>

            <form method="post">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" name="nome" placeholder="Nome" required>
                </div>
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" name="email" placeholder="E-mail" required>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" name="cargo" placeholder="Cargo" required>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" name="login" placeholder="Login" required>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" name="senha" placeholder="Senha" required>
                </div>
                <div class="row">

                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Cadastrar</button>
                    </div>

                </div>
            </form>
        </div>

    </div>

    </body>
{% endblock %}